body{
    background-color: #232323 ;
    margin: 0;
    font-family: "Montserrat", "Avenir" ;
}

.square{
    width: 30%;
    background: red ;
    padding-bottom: 30%;
    float: left ;
    margin: 1.66%;
    transition-delay: 1000ms ;
    transition: background 0.6s ;
    border-radius: 15% ; 
}

.container{
    max-width: 600px;
    margin: 20px auto;
}

h1{
    color: #fff;
    line-height: 1.1 ;
    padding: 20px 0;
    text-align: center;
    background: steelblue ;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#header{
    height: 30%;
    width: 100%;
}

#stripe{
    background-color: white ;
    height: 30px ;
    text-align: center; 
    color: black ;
}

#colorDisplay{
    font-size: 2em ;
}

button{
    border: none;
    background: none ;
    text-transform: uppercase;
    height: 100% ;
    font-weight: 700 ;
    color: steelblue ;
    letter-spacing: 1px;
    font-size: inherit;
    outline: none;  
}

button::-moz-focus-inner {
  border: 0 !important;
}

button:hover, .selected{
    color: white ;
    background: steelblue ;
    transition: all 0.6s ;
}

#message{
    display: inline-block;
    width: 20% ;
}